* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat";
}

/* header */

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #003a69;
    width: 100%;
    height: 15vh;
    padding: 15px;
}

.logo {
    width: 150px;
    filter: brightness(0) invert(93%);
}

.menu-conteiner{
    display: flex;
    justify-content: center;
    align-items:center ;
    justify-content: space-around;
    width: 50%;
    height: 100%;
    list-style: none;
    color: #f2f2f2;
}

.search-input{
    width: 300px;
    height: 40px;
    padding: 10px;
    border-radius: 14px;
    border: 0;
}

.search {
    position: relative;
    right: 50px;
    top: 5px;
    width: 20px;
    height: 20px;
}


/* main */

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-bottom: 2%;
}

.add-news-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;
    background-color: lightgray;
}

.add-news-conteiner p{
    font-family: 20px;
    color: #f2f2f2;
}

.first-news {
    background-color: lightgray;
    background-image: url("");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    width: 90%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 2% 0;
}

.first-news h1 {
    margin-left: 20px;
    margin-bottom: 30px;
    width: 50%;
    color: #f2f2f2;
}

.first-news p {
    margin-left: 20px;
    color: #f2f2f2;
    margin-bottom: 10px;
}

.first-news button {
    color: #f2f2f2;
    margin-bottom: 20px;
    margin-left: 20px;
    background-color: #003a69;
    border: 0;
    padding: 15px;
    border-radius: 20px;
}

.first-news button:hover {
    transition: 0.5s;
    background-color: #f2f2f2;
    color: #003a69;
}

.other-news-conteiner{
    display: grid;
    display: flex;
    gap: 15px;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
    width: 90%;
}

.other-news {
    background-image: url("");
    background-color: lightgray;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    width: 90%;
    height: 50vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.news-title{
    color: #f2f2f2;
    margin-bottom: 10px;
}

.news-button{
    color: #f2f2f2;
    margin-left: 20px;
    background-color: #003a69;
    border: 0;
    padding: 15px;
    border-radius: 20px;
}

.news-button:hover{
    transition: 0.5s;
    background-color: #f2f2f2;
    color: #003a69;
}

/* footer */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #003a69;
    color: #f2f2f2;
    width: 100%;
    height: 45vh;
}

.footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
}

.footer-logo img{
    width: 10vw;
}

.social-conteiner{
    width: 50%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.social-conteiner img{
    width: 10vh;
}